<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Logged User</title>
</head>
<body>
<div sec:authorize="isAuthenticated()" class="alert alert-info p-2">

    <form th:action="@{/logout}" method="post" class="row">
        <label for="logout" class="col-auto col-form-label">
            You are logged as <span sec:authentication="name"></span>
        </label>
        <input type="submit" value="Logout" id="logout" class="btn btn-outline-primary">
    </form>

</div>
<div sec:authorize="isAnonymous()">
    <div class="row">
        <p class="col-auto col-form-label">This page is not available for unauthorized users. Please log in:</p>
        <a th:href="@{/login}" class="btn btn-primary">Login</a>
    </div>
</div>
<hr>
</body>
</html>