<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
<header>
    <div th:include="/user-pages/logged-user" class="container m-3 "></div>
</header>
<div class="container m-3">
    <h3>User Profile</h3>

    <form th:action="@{/user/save-user}" th:object="${user}" method="POST">

        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{enabled}">

        <table class="table mt-3 w-50 ">
            <tr>
                <td>Username:</td>
                <td>
                    <input type="text"  th:field="*{userName}" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" th:name="password" th:value="${user.password}" class="form-control">
                </td>
            </tr>
        </table>

        <input type="submit" value="Save" class="btn btn-primary">

    </form>


</div>
</body>
</html>