<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>User Account</title>
</head>
<body>

<header>
    <div th:include="/users/logged-user"></div>
</header>

<div class="container m-3">
    <h3 class="mb-5">User account page</h3>

    <form th:action="@{/user/add_item}" method="POST" class="row mb-3">
        <div class="col-auto">
            <input type="text" name="itemUrl" class="form-control"/>
        </div>
        <div class="col-auto">
            <input type="submit" value="Add Item" class="btn btn-primary"/>
        </div>
    </form>


    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Price</th>
            <th>Availability</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.date}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.availability}"></td>
            <td th:text="${item.itemUrl}"></td>
        </tr>
        </tbody>
    </table>


</div>


</body>
</html>